/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

/* -------variables */
:root {
  --green-color: #7acc2d;
  --green-hover-color: #5e9e22;
  --white-color: white;
  --black-color: #313337;
  /* Tipografia */
  --normal: 12px;
  /* Espaciado */
  --space: 10px;
  /* Box shadow */
  --box: 2px 0px 9px -2px rgba(104, 104, 104, 0.75);
  --radious: 4px;
}

/* -------variables */

html,
body {
  padding: 0px;
  margin: 0px;
  font-size: var(--normal);
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

p, label {
  font-size: var(--normal);
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 20px;
  list-style: none;
}

nav li a {
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover {
  color: var(--white-color);
}

.brand_image {
  height: auto;
}

/* ------------------------ Main section */

.main_section {
  padding: 15%;
  text-align: center;
}

.products {
  background-image: url("../images/curve.png");
  /* max-height: 50px; */
  background-size: cover;
  background-position: center top;
  padding: 20%;
  display: flex;
  padding-top: 8%;

}

.product {
  padding: var(--space);
  margin-top: -240px;
  transition-property: margin-top;
  transition-duration: 0.1s;
  transition-timing-function: ease;
}

.product:hover{
  margin-top: -245px;
}

.product .content {
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}

.img_content {
  text-align: center;
}

.main_button {
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border: 0;
  cursor: pointer;
  border-radius: var(--radious);
}

.main_button:hover {
  background-color: var(--green-hover-color);
}

/* ------------------------ End main section */

/* ------------------------ Second section */

.second_section {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
}

.item_second_section {
  text-align: center;
  height: auto;
  width: 15%;
}

.item_second_section img {
  height: 25%;
  padding: 8%;
}

/* ------------------------ End second section */

/* ------------------------ Mentions section */

.mentions {
  display: flex;
  padding: 5%;
}
.mention img {
  width: 100%;
}
h2.mention_title {
  text-align: center;
}
.mention {
  padding: var(--space);
}
.content_mention {
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.mention .text {
  padding: var(--space);
}

/* ------------------------ End mentions section */

/* ------------------------ Page Ventas */

.container_ventasPage {
  width: 100%;
  height: 100vh;
  /* padding: 0;
  margin: 0; */
}

.content_ventas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: -15%;
}

.content_ventas--product {
  max-width: 200px;
  box-shadow: var(--box);
  border-radius: var(--radious);
  padding: 2%;
  margin: var(--space);
}

.content_ventas--product-images {
  max-width: 150px;
  margin: auto;
}

.content_ventas--form {
  max-width: 400px;
  width: 400px;
  box-shadow: var(--box);
  border-radius: var(--radious);
  padding: 2%;
  margin: var(--space);
}

.content_form--content {
  display: flex;
  flex-direction: column;
}

.content_form--content .main_button {
  margin-top: 10px;
}

.data {
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: var(--radious);
  border: 1px solid var(--black-color);
  box-sizing: border-box;
}

/* ------------------------ End page Ventas */

/* ------------------------ Footer */

footer {
  background: var(--black-color);
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

footer a {
  text-decoration: none;
  margin: 2%;
  color: var(--white-color);
}

/* ------------------------ End footer */
