@media (max-width: 600px) {
  .products {
    display: inherit;
    height: auto;
  }

  .content_ventas {
    display: inherit;
  }

  .content_ventas--product{
    margin: auto;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;

  }
  .content_ventas--form {
    margin: auto;
    width: 100%;
    margin: 10px auto;

  }

  .product {
    margin-top: auto;
  }

  .main_section {
    padding: 4%;
  }

  .second_section {
    display: inherit;
    padding-left: 15%;
    padding-right: 15%;
  }

  .item_second_section {
    width: inherit;
  }

  .item_second_section img {
    height: 100px;
  }

  .mentions {
    display: inherit;
  }
}
